body{
    background-color:#cob3c9;
    font-family:fantasy;
}

#container{
    background-color:bisque;
    width:600px;
    margin:0 auto;
    height:600px;
}
#h1{
    text-align:center;
    color:#000;
}
