body{
    text-align:center;
    background-color:#cob3c9;
    font-family:monospace;
    font-size:20px;
}

#container{
    background-color:thistle;
    width:600px;
    margin:0 auto;
    height:600px;
}
#h1{
    text-align:center;
    color:#000;
}
