body{
    background-color: lightgray;

}

#theball{
    position:absolute;
    width:300px;
    min-height:300px;
    background-color: black;
    margin: 0 auto;
    border-radius:150px;

}
#eighthballform{
    text-align: center;
    position:absolute;
    width:100%;

}
